.grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.grid-lines {
    width: 200%;
    height: 200%;
    background-image:
        linear-gradient(to right, var(--crt-glow, rgba(0, 255, 255, 0.2)) 1px, transparent 1px),
        linear-gradient(to bottom, var(--crt-glow, rgba(0, 255, 255, 0.2)) 1px, transparent 1px);
    background-size: 30px 30px;
    /* Animation removed for performance */
}

@keyframes move-grid {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-100px, -100px);
    }
}